In [41]:
import pandas as pd

df = pd.read_csv("copula_testing/scenario_data-aggr/electricload.csv")
df["north2"] = df["north"]
df

,Unnamed: 0,time,hour,dayofweek,month,north,west,east,north2
0,0,01/01/2015 00:00,0,3,1,74997.89833,150417.2000,102972.160000,74997.89833
1,1,01/01/2015 01:00,1,3,1,74065.07333,144913.8125,98909.105000,74065.07333
2,2,01/01/2015 02:00,2,3,1,70456.97667,137344.7425,95800.825000,70456.97667
3,3,01/01/2015 03:00,3,3,1,68705.88000,132415.1700,95027.550000,68705.88000
4,4,01/01/2015 04:00,4,3,1,68003.73167,131099.4175,95660.950000,68003.73167
...,...,...,...,...,...,...,...,...,...
43819,43819,31/12/2019 19:00,19,1,12,95015.29000,159746.4625,117217.765833,95015.29000
43820,43820,31/12/2019 20:00,20,1,12,91124.51667,151009.1975,112196.498333,91124.51667
43821,43821,31/12/2019 21:00,21,1,12,87112.68833,147458.2375,110252.860833,87112.68833
43822,43822,31/12/2019 22:00,22,1,12,81783.57167,146397.9125,106505.581667,81783.57167
43823,43823,31/12/2019 23:00,23,1,12,80558.02000,142568.7025,102571.543333,80558.02000

In [42]:
unique_nodes = [c for c in df.columns if c not in ["Unnamed: 0", "time", "hour", "dayofweek", "month"]]
unique_nodes

['north', 'west', 'east', 'north2']

In [43]:
df = df[unique_nodes]
total_load = sum([df[c].sum() for c in unique_nodes])
total_load

19644557717.818855

In [44]:
weight_multiplier = len(unique_nodes) - 1

In [45]:
weights = []
for i in range(len(unique_nodes)):
    for j in range(i, len(unique_nodes)):
        n1 = unique_nodes[i]
        n2 = unique_nodes[j]
        if n1==n2: 
            continue
        data_x = df[n1]
        data_y = df[n2]
        weight = (data_x.sum() + data_y.sum()) / (total_load * (weight_multiplier))
        weights.append(weight)

print(weights)
sum(weights)

[0.17614519487219135, 0.15718813846114196, 0.12810984063649541, 0.2052234926968379, 0.17614519487219135, 0.15718813846114196]

1.0

In [46]:
sum(df["north"])

3774991737.9063144